body{
		background:#215EB9;
		}
    	#container{
			width:1000px;
			}
		#header{
			background:#fff;
			color:#006;
			border:1px solid #000;
			border-radius:1em;
			margin:10px;
			padding:5px;
			}
		#nav{
			background:#fff;
			border:1px solid #000;
			float:left;
			width:200px;
			border-radius:1em;
			margin:10px;
			padding:5px;
			}
		#content{
	background: #fff;
	border: 1px solid #000;
	float: left;
	width: 700px;
	border-radius: 1em;
	margin: 10px;
	padding: 5px;
			}
	#nav li{
		list-style:none;
		margin-bottom:25px;
		}
	#nav li:hover{background:#888;}